@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
body{background-color: #4d1f07;font-family: 'EB Garamond', serif;
color:beige}
h1{font-size: 60px;text-align: center;}
.body{width:90vw;background-color: #1c3821;
    height:100vh;margin: auto;}
.players{font-size: 30px;
    margin-left: 20%;
    padding-top: 2%;
}
.names{margin-left: 30%;
    padding-top: 1%;
font-size: 22px;}
.names a {text-decoration: none;color:inherit;}
.names:hover{font-size: 26px;color:#f2db5a}
.content{padding-top: 0;margin-left: 32%;font-size: 30px;}
.buttons{margin-top:10%;
   margin-left: 28%;
   height:40px;
   width:150px;
   border-radius: 10px;
   border: none;
   box-shadow: 8px 5px 10px #4d1f07;
   font-family: 'EB Garamond', serif;
   font-size: 15px;
   background-color: beige;
   color:#4d1f07;
}
.buttons a{text-decoration: none;color:inherit;}
.buttons:hover{font-size: 16px;color:#1c3821}
.update{display:block;
    margin: auto;
  margin-top: 5%;
    width:250px;
    height:80px;
    text-align: center;
}